{{#> layout }}
  {{#*inline "pageContent"}}
    <section class="d-flex flex-column justify-content-center align-items-center h-100">

      {{#ifEquals supply null}}
        <section class="content-section" style="width: 700px;">
          <h1 class="text-center m-3">Такий товар не знайдено</h1>
        </section>
      {{else}}
      <section class="d-flex justify-content-center flex-column align-items-center h-75" >
        <section class="content-section p-3 my-2" style="width: 500px;">
          <section id="content-to-print">
          <div class="row mb-3">
            <div class="col">
              <strong>UPC:</strong>
              <span>{{supply.UPC}}</span>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <strong>UPC акційний:</strong>
              <span>{{#replaceIfEmpty supply.UPC_prom "Відсутній"}}{{/replaceIfEmpty}}</span>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <strong>Назва предмету:</strong>
              <span>{{supply.product_name}} ({{supply.product_id}})</span>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <strong>Ціна продажу:</strong>
              <span>{{supply.selling_price}}</span>
              <span>грн</span>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <strong>Кількість товарів:</strong>
              <span>{{supply.products_amount}}</span>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <strong>Акційний товар:</strong>
              <span>{{#ifEquals supply.is_promotional true}}Так{{else}}Ні{{/ifEquals}}</span>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <strong>Дата виробництва:</strong>
              <span>{{supply.manufacturing_date}}</span>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <strong>Дата закінчення терміну придатності:</strong>
              <span>{{supply.expiration_date}}</span>
            </div>
          </div>
          </section>
          <div class="row">
            <div class="col">
              <button id="print-button" type="button" class="btn btn-outline-success w-100">
                Надрукувати звіт
              </button>
            </div>
          </div>

        </section>
      </section>
      {{/ifEquals}}

    </section>
  {{/inline}}
{{/layout}}
