{{#> layout }}
  {{#*inline "pageContent"}}
    <section class="d-flex flex-column justify-content-center align-items-center h-100">

      {{#ifEquals receipt null}}
        <section class="content-section" style="width: 700px;">
          <h1 class="text-center m-3">Такий чек не знайдено</h1>
        </section>
      {{else}}
        <section class="d-flex justify-content-center flex-column align-items-center h-75">
          <section  class="content-section p-3 my-2" style="width: 500px;">
            <section id="content-to-print">
              <div class="row mb-3">
                <div class="col">
                  <strong>ID чеку: </strong>
                  <span>{{receipt.receipt_id}}</span>
                </div>
              </div>

              <div class="row mb-3">
                <div class="col">
                  <strong>Дата чеку: </strong>
                  <span>{{receipt.print_date}} </span>
                </div>
              </div>

              <div class="row mb-3">
                <div class="col">
                  <strong>Касир: </strong>
                  <span>{{receipt.employee_fullname}} <span class="fst-italic text-muted">({{receipt.employee_id}})</span></span>
                </div>
              </div>

              <div class="row mb-3">
                <div class="col">
                  <strong>Клієнт: </strong>
                  <span>{{receipt.customer_fullname}} <span class="fst-italic text-muted">({{receipt.card_number}})</span></span>
                </div>
              </div>

              <div class="row mb-3">
                <div class="col">
                  <h3 class="text-center">Вміст покупки</h3>
                  <ol>
                    {{#each receipt.product_name_list}}
                      <li>
                        {{this}} <span class="fst-italic text-muted">({{lookup ../receipt.product_id_list @index}})</span>
                        <div class="d-flex flex-row justify-content-between">
                          <span>x{{lookup ../receipt.sold_products_amount_list @index}} по {{lookup ../receipt.selling_price_list @index}}грн.</span>
                          <span>{{multiply (lookup ../receipt.sold_products_amount_list @index) (lookup ../receipt.selling_price_list @index)}} грн.</span>
                        </div>
                        <span class="fst-italic text-muted">(UPC: {{lookup ../receipt.UPC_list @index}})</span>
                      </li>
                    {{/each}}
                  </ol>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <h5>Загальна сума:</h5>
                  <div class="d-flex flex-row justify-content-between">
                    <span>{{products_sum}} x {{receipt.customer_percent}}%</span>
                    <span>{{receipt.sum_total}} грн.</span>
                  </div>
                  <strong>Знижка: </strong>
                  <span>{{receipt.customer_percent}}%</span>
                </div>
              </div>

              <div class="row mb-3">
                <div class="col">
                  <strong>ПДВ: </strong>
                  <span>{{#multiply vat.variable_value receipt.sum_total}}{{/multiply}} грн.</span>
                </div>
              </div>

            </section>
            <div class="row">
              <div class="col">
                <button id="print-button" type="button" class="btn btn-outline-success w-100">
                  Надрукувати звіт
                </button>
              </div>
            </div>

          </section>
        </section>
      {{/ifEquals}}

    </section>
  {{/inline}}
{{/layout}}
