{{#> layout }}
  {{#*inline "pageContent"}}
    <section class="d-flex flex-column justify-content-center align-items-center h-100">

      {{#ifEquals product null}}
        <section class="content-section" style="width: 700px;">
          <h1 class="text-center m-3">Такий предмет не знайдено</h1>
        </section>
      {{else}}
      <section class="d-flex justify-content-center flex-column align-items-center h-75">
        <section  class="content-section p-3 my-2" style="width: 500px;">
          <section id="content-to-print">
          <div class="row mb-3">
            <div class="col">
              <strong>ID предмету:</strong>
              <span>{{product.product_id}}</span>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <strong>Назва категорії:</strong>
              <span>{{product.category_name}} ({{product.category_number}})</span>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <strong>Назва предмету:</strong>
              <span>{{product.product_name}}</span>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <strong>Характеристики:</strong>
              <span>{{product.characteristics}}</span>
            </div>
          </div>
          </section>
          <div class="row">
            <div class="col">
              <button id="print-button" type="button" class="btn btn-outline-success w-100">
                Надрукувати звіт
              </button>
            </div>
          </div>

        </section>
      </section>
    {{/ifEquals}}

    </section>
  {{/inline}}
{{/layout}}
