{{#> layout }}
  {{#*inline "pageContent"}}
    <section class="d-flex justify-content-center flex-column align-items-center h-100">

      {{#ifEquals customer_card null}}
      <section class="content-section" style="width: 700px;">
        <h1 class="text-center m-3">Такого клієнта не знайдено</h1>
      </section>
      {{else}}
      <section class="content-section p-3 my-2" style="width: 500px;">
        <form id="editCustomerForm">

          <div class="row mb-3">
            <div class="col">
              <label for="cardNumber" class="form-label text-center">Номер картки клієнта</label>
              <input type="text" class="form-control text-center" placeholder="Наприклад: CARD000000001" id="cardNumber"
                     name="card_number" maxlength="13" value="{{customer_card.card_number}}" readonly required>
            </div>
            <div class="col">
              <label for="customerSurname" class="form-label text-center">Прізвище</label>
              <span style="color: red">*</span>
              <input type="text" class="form-control text-center" placeholder="Прізвище" id="customerSurname"
                     name="customer_surname" minlength="3" maxlength="50" value="{{customer_card.customer_surname}}" required>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <label for="customerName" class="form-label text-center">Ім'я</label>
              <span style="color: red">*</span>
              <input type="text" class="form-control text-center" placeholder="Ім'я" id="customerName"
                     name="customer_name" minlength="3" maxlength="50" value="{{customer_card.customer_name}}" required>
            </div>
            <div class="col">
              <label for="customerPatronymic" class="form-label text-center">По батькові</label>
              <input type="text" class="form-control text-center" placeholder="По батькові" id="customerPatronymic"
                     name="customer_patronymic" minlength="3" maxlength="50" value="{{customer_card.customer_patronymic}}">
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <label for="customerPhoneNumber" class="form-label text-center">Номер телефону</label>
              <span style="color: red">*</span>
              <input type="tel" class="form-control text-center" placeholder="+380000000000" id="customerPhoneNumber"
                     name="customer_phone_number" minlength="13" maxlength="13" pattern="^\+[0-9]{1,12}$"
                     value="{{customer_card.customer_phone_number}}" required>
            </div>
            <div class="col">
              <label for="customerCity" class="form-label text-center">Місто</label>
              <input type="text" class="form-control text-center" placeholder="Місто" id="customerCity"
                     name="customer_city" minlength="3" maxlength="50" value="{{customer_card.customer_city}}">
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <label for="customerStreet" class="form-label text-center">Вулиця</label>
              <input type="text" class="form-control text-center" placeholder="Вулиця" id="customerStreet"
                     name="customer_street" minlength="3" maxlength="50" value="{{customer_card.customer_street}}">
            </div>
            <div class="col">
              <label for="customerZipCode" class="form-label text-center">Поштовий індекс</label>
              <input type="text" class="form-control text-center" placeholder="Поштовий індекс" id="customerZipCode"
                     name="customer_zip_code" minlength="9" maxlength="9" value="{{customer_card.customer_zip_code}}">
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <label for="customerPercent" class="form-label text-center">Відсоток знижки</label>
              <span style="color: red">*</span>
              <input type="number" class="form-control text-center" placeholder="Відсоток знижки" id="customerPercent"
                     name="customer_percent" min="0" max="100" step="0.5"
                     value="{{customer_card.customer_percent}}" required>
            </div>
          </div>

          <div class="row">
            <div>
              <button type="submit" class="btn btn-primary w-100">
                Зберегти зміни
              </button>
            </div>
          </div>

        </form>

      </section>
      {{/ifEquals}}

    </section>

    <div class="modal fade" id="infoModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="infoModalTitle">...</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" id="infoModalBody">
            ...
          </div>
        </div>
      </div>
    </div>
  {{/inline}}
{{/layout}}
