{{#> layout }}
  {{#*inline "pageContent"}}
    <section class="d-flex justify-content-center flex-column align-items-center h-100">

    {{#ifEquals product null}}
        <section class="content-section" style="width: 700px;">
          <h1 class="text-center m-3">Такий предмет не знайдено</h1>
        </section>
    {{else}}
      <section class="content-section p-3 my-2 mt-5" style="width: 500px;">

        <form id="editProductForm">

          <div class="row mb-3">
            <div class="col">
              <label for="productId" class="form-label text-center">ID товару</label>
              <input type="number" class="form-control text-center" placeholder="Наприклад: 1" id="productId"
                     name="product_id" min="1" step="1" value="{{product.product_id}}" readonly required>
            </div>

            <div class="col">
              <label for="categoryName" class="form-label text-center">Категорія</label>
              <span style="color: red">*</span>
              <select class="form-select text-center" id="categoryName" name="category_number" required>
                {{#each categoriesDict}}
                  <option value="{{this.[0]}}" {{#ifEquals ../product.category_number this.[0]}}selected{{/ifEquals}}>{{this.[1]}}</option>
                {{/each}}
              </select>
            </div>

          </div>

          <div class="row mb-3">
            <div class="col">
              <label for="productName" class="form-label text-center">Назва товару</label>
              <span style="color: red">*</span>
              <input type="text" class="form-control text-center" placeholder="Назва товару" id="productName"
                     name="product_name" maxlength="50" value="{{product.product_name}}" required>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <label for="characteristics" class="form-label text-center">Характеристики</label>
              <span style="color: red">*</span>
              <textarea class="form-control text-center" placeholder="Характеристики" id="characteristics"
                        name="characteristics" rows="4" maxlength="100" required>{{product.characteristics}}</textarea>
            </div>
          </div>

          <div class="row">
            <button type="submit" class="btn btn-primary w-100">
              Зберегти зміни
            </button>
          </div>

        </form>

      </section>
    {{/ifEquals}}
    </section>

    <div class="modal fade" id="infoModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="infoModalTitle">...</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" id="infoModalBody">
            ...
          </div>
        </div>
      </div>
    </div>
  {{/inline}}
{{/layout}}
