{{#> layout }}
  {{#*inline "pageContent"}}
    <section class="d-flex justify-content-center flex-column align-items-center h-100">

    {{#ifEquals supply null}}
        <section class="content-section" style="width: 700px;">
          <h1 class="text-center m-3">Такий товар не знайдено</h1>
        </section>
    {{else}}
      <section class="content-section p-3 my-2" style="width: 500px;">

        <form id="editSupplyForm">

          <div class="row mb-3">
            <div class="col">
              <label for="UPC" class="form-label text-center">UPC</label>
              <span style="color: red">*</span>
              <input type="text" class="form-control text-center" placeholder="Наприклад: 799439112766" id="UPC"
                     name="UPC" value="{{supply.UPC}}" minlength="3" maxlength="12"  readonly required>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <label for="productName" class="form-label text-center">Назва предмета</label>
              <span style="color: red">*</span>
              <select class="form-select text-center" id="productName" name="product_id" required>
                <option value="" disabled selected>Оберіть предмет</option>
                {{#each productsDict}}
                  <option value="{{this.[0]}}" {{#ifEquals ../supply.product_id this.[0]}}selected{{/ifEquals}}>{{this.[1]}}</option>
                {{/each}}
              </select>
            </div>

            <div class="col">
              <label for="sellingPrice" class="form-label text-center">Ціна продажу</label>
              <span style="color: red">*</span>
              <input type="number" class="form-control text-center" placeholder="Ціна продажу" id="sellingPrice"
                     name="selling_price" value="{{supply.selling_price}}" min="0" step="0.01" required>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <label for="productsAmount" class="form-label text-center">Кількість товарів</label>
              <span style="color: red">*</span>
              <input type="number" class="form-control text-center" placeholder="Кількість товарів" id="productsAmount"
                     name="products_amount" value="{{supply.products_amount}}" min="0" step="1" required>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <label for="manufacturingDate" class="form-label text-center">Дата виробництва</label>
              <span style="color: red">*</span>
              <input type="date" value="{{supply.manufacturing_date}}" class="form-control text-center" id="manufacturingDate" name="manufacturing_date" required>
            </div>

            <div class="col">
              <label for="expirationDate" class="form-label text-center">Термін придатності</label>
              <span style="color: red">*</span>
              <input type="date" value="{{supply.expiration_date}}" class="form-control text-center" id="expirationDate" name="expiration_date" required>
            </div>
          </div>

          <div class="row">
            <div class="btn-group w-100" role="group" aria-label="Actions">
              <button type="submit" class="btn btn-primary w-50">
                Зберегти товар
              </button>
            </div>
          </div>

        </form>

      </section>
    {{/ifEquals}}
    </section>

    <div class="modal fade" id="infoModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="infoModalTitle">...</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" id="infoModalBody">
            ...
          </div>
        </div>
      </div>
    </div>
  {{/inline}}
{{/layout}}
