{{#> layout }}
  {{#*inline "pageContent"}}
    <section class="content-section mb-4">
      <h1 class="text-center">Статистика</h1>
    </section>

      <section class="content-section p-3 my-2">
        <form id="searchSumCertainCashier">

          <div class="row mb-3">
            <div class="col">
              <h4 style="color: #5b00ff">Загальна сума проданих товарів з чеків</h4>
            </div>
          </div>

            <div class="row mb-3">
              <div class="col-3">
                <label for="cashier" class="form-label text-center">Касир</label>
                <select class="form-select" id="cashier" name="cashier" required>
                  <option value="all">Усі</option>
                  {{#each cashiersArr}}
                    <option value="{{this.employee_id}}">{{this.employee_surname}} {{this.employee_name}} ({{this.employee_id}}) </option>
                  {{/each}}
                </select>
              </div>

              <div class="col-2 pt-4 d-flex align-items-center justify-content-end">
                <strong>Період:</strong>
              </div>

              <div class="col-3">
                <label for="dateStart" class="form-label">Дата початку</label>
                <input type="date" id="dateStart" name="date_start" class="form-control">
              </div>

              <div class="col-3">
                <label for="dateEnd" class="form-label">Дата кінця</label>
                <input type="date" id="dateEnd" name="date_end" class="form-control">
              </div>

            </div>

          <div class="row mb-4 mt-4">
            <div class="col">
              <span class="h4">Загальна сума: </span>
              <span id="sumAfterSearch" class="h4">10000 грн.</span>
            </div>
          </div>

            <div class="row">
              <div>
                <button id="searchButton" type="submit" class="btn btn-primary w-100">
                  Пошук
                </button>
              </div>
            </div>

        </form>
      </section>

    <section class="content-section p-3 my-2 mt-4">
      <form id="goodsOfEachCategoryInReceipt">

        <div class="row mb-3">
          <div class="col">
            <h4 style="color: #5b00ff">Кількість товарів кожної категорії у конкретному чеку</h4>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-3">
            <label for="receipt" class="form-label text-center">Чек</label>
            <select class="form-select" id="receipt" name="receipt" required>
              <option value="all">Усі</option>
              {{#each receiptsArr}}
                <option value="{{this.receipt_id}}">{{this.receipt_id}}</option>
              {{/each}}
            </select>
          </div>
          <div class="row mt-4 mb-4">
            <div>
              <button type="submit" class="btn btn-primary w-100">
                Пошук
              </button>
            </div>
          </div>
        </div>

      </form>

      <div class="table-container">
        <table class="m-0 table table-striped table-hover table-bordered" id="data-table">
          <thead>
          <tr>
            <th>#</th>
            <th>Номер чека</th>
            <th>Назва категорії</th>
            <th>Кількість товарів</th>
          </tr>
          </thead>

          <tbody class="table-group-divider">
          <tr>
            <td colspan="4">{{> partials/loading}}</td>
          </tr>
          <tr>
            <td colspan="4">{{> partials/loading}}</td>
          </tr>
          <tr>
            <td colspan="4">{{> partials/loading}}</td>
          </tr>

          </tbody>
        </table>
      </div>
    </section>

    <section class="content-section p-3 my-2 mt-4">
      <form id="salesAmountOfEachCategory">

        <div class="row mb-3">
          <div class="col">
            <h4 style="color: #5b00ff">Сума продажів кожної категорії за певний період</h4>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-3">
            <label for="categoryName" class="form-label text-center">Категорія</label>
            <select class="form-select" id="categoryName" name="categoryName" required>
              <option value="" selected>Оберіть категорію</option>
              <option value="1">Vegetables and Fruits</option>
              <option value="2">Meat and Poultry</option>
              <option value="3">Dairy Products</option>
            </select>

          </div>

          <div class="col-2 pt-4 d-flex align-items-center justify-content-end">
            <strong>Період:</strong>
          </div>

          <div class="col-3">
            <label for="dateStart" class="form-label">Дата початку</label>
            <input type="date" id="dateStart" name="date_start" class="form-control">
          </div>

          <div class="col-3">
            <label for="dateEnd" class="form-label">Дата кінця</label>
            <input type="date" id="dateEnd" name="date_end" class="form-control">
          </div>

        </div>

        <div class="row mt-4 mb-4">
          <div>
            <button type="submit" class="btn btn-primary w-100">
              Пошук
            </button>
          </div>
        </div>

      </form>

      <div class="table-container">
        <table class="m-0 table table-striped table-hover table-bordered" id="data-table">
          <thead>
          <tr>
            <th>#</th>
            <th>Назва категорії</th>
            <th>Сума продажів</th>
          </tr>
          </thead>

          <tbody class="table-group-divider">
          <tr>
            <td colspan="3">{{> partials/loading}}</td>
          </tr>
          <tr>
            <td colspan="3">{{> partials/loading}}</td>
          </tr>
          <tr>
            <td colspan="3">{{> partials/loading}}</td>
          </tr>

          </tbody>
        </table>
      </div>
    </section>

    <section class="content-section p-3 my-2 mt-4">
<!--      <form id="numberOfSalesOfEachProduct">-->

        <div class="row mb-3">
          <div class="col">
            <h4 style="color: #5b00ff">Кількість продажів кожного предмету для кожного працівника</h4>
          </div>
        </div>

<!--      </form>-->

      <div class="table-container">
        <table class="m-0 table table-striped table-hover table-bordered" id="data-table">
          <thead>
          <tr>
            <th>#</th>
            <th>ID працівника</th>
            <th>Прізвище</th>
            <th>Ім'я</th>
            <th>Назва предмету</th>
            <th>Кількість продажів</th>
          </tr>
          </thead>

          <tbody class="table-group-divider">
          <tr>
            <td colspan="6">{{> partials/loading}}</td>
          </tr>
          <tr>
            <td colspan="6">{{> partials/loading}}</td>
          </tr>
          <tr>
            <td colspan="6">{{> partials/loading}}</td>
          </tr>

          </tbody>
        </table>
      </div>
    </section>

    <section class="content-section p-3 my-2 mt-4">
      <form id="CustomersDidntBuyCertainProduct">

        <div class="row mb-3">
          <div class="col">
            <h4 style="color: #5b00ff">Клієнти, які не здійснили жодних покупок певного предмету</h4>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-3">
            <label for="productNameId" class="form-label text-center">Предмет</label>
            <select class="form-select" id="productNameId" name="productNameId" required>
              <option value="" selected>Оберіть предмет</option>
              <option value="1">Apple (1)</option>
              <option value="2">Beef Steak (4)</option>
              <option value="3">Bread (7)</option>
            </select>

          </div>
        </div>

        <div class="row mt-4 mb-4">
          <div>
            <button type="submit" class="btn btn-primary w-100">
              Пошук
            </button>
          </div>
        </div>

      </form>

      <div class="table-container">
        <table class="m-0 table table-striped table-hover table-bordered" id="data-table">
          <thead>
          <tr>
            <th>#</th>
            <th>Номер картки клієнта</th>
            <th>Прізвище</th>
            <th>Ім'я</th>
            <th>Номер телефону</th>
          </tr>
          </thead>

          <tbody class="table-group-divider">
          <tr>
            <td colspan="5">{{> partials/loading}}</td>
          </tr>
          <tr>
            <td colspan="5">{{> partials/loading}}</td>
          </tr>
          <tr>
            <td colspan="5">{{> partials/loading}}</td>
          </tr>
          </tbody>

        </table>
      </div>
    </section>

    <section class="content-section p-3 my-2 mt-4">
      <form id="productsNotSold">

        <div class="row mb-3">
          <div class="col">
            <h4 style="color: #5b00ff">Знайти предмети, які не були продані протягом певного періоду часу</h4>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-1 pt-4 d-flex align-items-center justify-content-start">
            <strong>Період:</strong>
          </div>

          <div class="col-3">
            <label for="dateStart" class="form-label">Дата початку</label>
            <input type="date" id="dateStart" name="date_start" class="form-control">
          </div>

          <div class="col-3">
            <label for="dateEnd" class="form-label">Дата кінця</label>
            <input type="date" id="dateEnd" name="date_end" class="form-control">
          </div>

        </div>

        <div class="row mt-4 mb-4">
          <div>
            <button type="submit" class="btn btn-primary w-100">
              Пошук
            </button>
          </div>
        </div>

      </form>

      <div class="table-container">
        <table class="m-0 table table-striped table-hover table-bordered" id="data-table">
          <thead>
          <tr>
            <th>#</th>
            <th>Назва предмету</th>
            <th>Номер категорії</th>
            <th>Назва категорії</th>
          </tr>
          </thead>

          <tbody class="table-group-divider">
          <tr>
            <td colspan="5">{{> partials/loading}}</td>
          </tr>
          <tr>
            <td colspan="5">{{> partials/loading}}</td>
          </tr>
          <tr>
            <td colspan="5">{{> partials/loading}}</td>
          </tr>
          </tbody>

        </table>
      </div>
    </section>


  {{/inline}}
{{/layout}}