<aside class="p-3">
  <section class="logo-container">
    <div class="fs-4">Злагода</div>
    <div class="fs-7">Інтернет-магазин</div>
  </section>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="/home" class="nav-link {{#if isHome}}active{{else}}link-body-emphasis{{/if}}" {{#if isHome}}aria-current="page"{{/if}}>
        <i class="me-2 fa-solid fa-house"></i>
        Головна
      </a>
    </li>

    <li>
      <a href="/supplies" class="nav-link {{#if isSupplies}}active{{else}}link-body-emphasis{{/if}}" {{#if isSupplies}}aria-current="page"{{/if}}>
        <i class="me-2 fa-solid fa-apple-whole"></i>
        Предмети
      </a>
    </li>

    <li>
      <a href="/products" class="nav-link {{#if isSupplies}}active{{else}}link-body-emphasis{{/if}}" {{#if isSupplies}}aria-current="page"{{/if}}>
        <i class="me-2 fa-solid fa-barcode"></i>
        Товари
      </a>
    </li>

    <li>
      <a href="/categories" class="nav-link {{#if isSupplies}}active{{else}}link-body-emphasis{{/if}}" {{#if isSupplies}}aria-current="page"{{/if}}>
        <i class="me-2 fa-solid fa-tags"></i>
        Категорії
      </a>
    </li>

    <li>
      <a href="/receipts" class="nav-link {{#if isSupplies}}active{{else}}link-body-emphasis{{/if}}" {{#if isSupplies}}aria-current="page"{{/if}}>
        <i class="me-2 fa-solid fa-receipt"></i>
        Чеки
      </a>
    </li>

    <li>
      <a href="/clients" class="nav-link {{#if isSupplies}}active{{else}}link-body-emphasis{{/if}}" {{#if isSupplies}}aria-current="page"{{/if}}>
        <i class="me-2 fa-solid fa-address-card"></i>
        Клієнти
      </a>
    </li>

  </ul>
  <hr>
  <div class="dropdown">
    <a href="" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      <img src="https://eu.ui-avatars.com/api/?name={{currentUser.employee_name}}+{{currentUser.employee_surname}}&size=32" alt="You" class="rounded-circle me-2">
      <strong>{{currentUser.employee_name}}</strong>
    </a>
    <ul class="dropdown-menu text-small shadow">
      <li><a class="dropdown-item" href="/settings">Налаштування</a></li>
      <li><a class="dropdown-item" href="/profile">Профіль</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="/logout">Вийти</a></li>
    </ul>
  </div>
</aside>